.form-control{
	width: 50%;
	border-radius: 6px;
}

.jumbotron
{
	background-color: #fbfbfb;
	border-radius: 6px;
	height: 600px;
}

.container{
	margin: 70px auto;
	width: 900px;

}

  h3{
      text-align: center;
      padding-left: 4%;
      margin-bottom: 10%;
      margin-left: 5%
}


.SelectId-button
{
  width: 400px;
  margin-left: 250px;
  margin-right: 150px;
	background-color: #01b0f0;
	border-color: #01b0f0;
	border-radius: 6px;
	margin-top: 5px;
  padding-left: 25%;
  padding-right: 25%;
  border:10px;

}
.Upload-button
{
	width: 400px;
	margin-left: 250px;
  margin-right: 150px;
	background-color: #01b0f0;
	border-color: #01b0f0;
	border-radius: 6px;
  	margin-top: 5px;
    padding-left: 25%;
    padding-right: 25%
}
#attendanceUpload-label{
    margin-left: 35%;
  display: block;
  position: relative;
  font-size: 50;
  font-family:  Arial;
  color: black;


}
#attendance{
  height: 50%;
  background-color: white;
}