.form-control{
	width: 50%;
	border-radius: 6px;
}

.jumbotron
{
	background-color: #fbfbfb;
	border-radius: 6px;
	height: 550px;
}

.container{
	margin: 70px auto;
	width: 900px;
	margin-top: 10px;
}

.addCourse-button
{
	width: 200px;
	margin-left: 350px;
	background-color: #01b0f0;
	border-color: #01b0f0;
	border-radius: 6px;
	margin-top: 5px;
}

.deleteCourse-button
{
	width: 200px;
	margin-left: 350px;
	margin-top: 25px;
	background-color: red;
	border-color: red;
	border-radius: 6px;
}

.course-add-h3
{
	padding-bottom: 15px;
    color: #008faf;
}

.course-delete-h3
{
	padding-top: 15px;
    color: #008faf;
}

.course-add-input-div
{
	margin-left: 7px;
}

.course-delete-input-div
{
	padding-top: 15px;
}

.course-delete-label1
{
	margin-left: 25px;
}

.course-delete-label2
{
	padding-left: 20px;
}