<!-- look for HERE tags while creating js -->
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/admin.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen"> 
        <!-- <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="screen"> -->
  <link rel="stylesheet" type="text/css" href="../css/courseManagement.css">
  <title>Partial</title>
</head>
<body>
       <nav class="navbar">
           <div class="container-fluid jai">
               <div class="navbar-header navbar-brand">
                   <a class="logo">
                       <img  src="../images/snalturalysis_logo.png" alt="company logo" class="snaltureLogo" width="11%" >
                   </a>
                   <!-- <span class="nameOfUser">{{nameOfuser}}</span> -->
                   <a class= "logo">
                    <img src="../images/shantha_logo.jpg" class="compLogo">
                   </a>
                   <a class="navbar-right">
                   <!-- <p class="userName"><b>{{username}}</b></p> -->
                   <!-- FETCH USERNAME : HERE -->
                   <a href="/authenticate"><img src="../images/logout.png" class="logOut">Log out
                      </a>
               </div>
               
           </div>
       </nav>
       <!-- class="navIcons" -->
       <div class="wrapper">
           <!-- Sidebar Holder -->
           <nav id="sidebar">
               <ul class="list-unstyled components">
                   <li class="active">
                       <!-- Enter Code Here  href-->
                       <a href="addEmployee">
                          <img class="navIcons" src="../images/add_employee.png"> &nbsp;
                             Add Employee
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="updateEmployee">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/delete_employee.png"> &nbsp;
                          Update Employee
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="deleteEmployee">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/update_employee.png"> &nbsp;
                          Delete Employee
                         </a>
                     </li>
                     <!-- adding more elements -->
                     <li><!-- Enter Code Here  href-->
                      <a href="trainerManagement">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/trainer_account.png">&nbsp;
                          Trainer Management
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="courseManagement">
                      <!-- <span class="glyphicon">&#x270f;</span> -->
                      <img class="navIcons" src="../images/course_management.png">&nbsp;
                                         Course Management
                   </a>
                </li>
           </nav>

            <!-- ENTER CODE HERE in this div -->
           <div></div>
       <div class="container">
    <div class="jumbotron">
    
    <!-- Course Addition Form -->
    <h3 class="course-add-h3">Course Addition</h3>
    <form method="post" class="form-inline" action="/api/adminaddCourse">

      <!-- Course Name Input -->
      <div class="form-group row course-add-input-div">
        <label for="course1" class="col-sm-2 col-form-label">Course Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="course1" name="courseName" required>
        </div>
      </div>

      <!-- Course ID Input -->
      <div class="form-group row course-add-input-div">
        <label for="course2" class="col-sm-2 col-form-label">Course ID</label>
        <div class="col-sm-10">
          <input type="integer" class="form-control" id="course2" name="cid" required>
        </div>
      </div>

      <!-- Trainer ID Input -->
      <div class="form-group row course-add-input-div">
        <label for="course3" class="col-sm-2 col-form-label">Trainer ID</label>
        <div class="col-sm-10">
          <input type="integer" class="form-control" id="course3" placeholder="Add multiple trainers by using comma" name="trainerID" required>
        </div>
      </div>
      
      <!--Course Add Button  -->
      <div class="form-group row">
        <div class="col-sm-10">
        
          <input type="submit" value="Add Course" class="btn btn-primary btn-lg addCourse-button">
        </div>
      </div>

    </form>

    <!-- Course Deletion Form -->
    <h3 class="course-delete-h3">Course Deletion</h3>
    <form method="post" class="form-inline" action="/api/admindeleteCourse">

      <!-- Course ID Input -->
      <div class="form-group course-delete-input-div">
        <label for="delete1" class="course-delete-label1">Course ID</label>
        <input type="text" id="delete1" class="form-control mx-sm-3" name="corid" required>
      </div>

     <!-- Course Name Input --> 
      <div class="form-group course-delete-input-div">
        <label for="delete2" class="course-delete-label2">Course Name</label>
        <input type="text" id="delete2" class="form-control mx-sm-3" name="corname" required>
      </div>
      
      <!-- Course Delete Button -->
      <div class="form-group row">
        <div class="col-sm-10">
            <input type="submit" value="Delete Course" class="btn btn-primary btn-lg deleteCourse-button">
        
        </div>
      </div>

    </form>
  </div>

</div>
           <!-- Page Content Holder -->
           
    
    </body>
    </html>