<!-- look for HERE tags while creating js -->
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../css/admin.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <link rel="stylesheet" type="text/css" href="../css/deleteEmployee.css">
  <title>Partial</title>
</head>
<body>
       <nav class="navbar">
           <div class="container-fluid jai">
               <div class="navbar-header navbar-brand">
                   <a class="logo">
                       <img  src="../images/snalturalysis_logo.png" alt="company logo" class="snaltureLogo" width="11%" >
                   </a>
                   <!-- <span class="nameOfUser">{{nameOfuser}}</span> -->
                   <a class= "logo">
                    <img src="../images/shantha_logo.jpg" class="compLogo">
                   </a>
                   <a class="navbar-right">
                   <!-- <p class="userName"><b>{{username}}</b></p> -->
                   <!-- FETCH USERNAME : HERE -->
                   <a href="/authenticate"><img src="../images/logout.png" class="logOut">Log out
                      </a>
               </div>
               
           </div>
       </nav>
       <!-- class="navIcons" -->
       <div class="wrapper">
           <!-- Sidebar Holder -->
           <nav id="sidebar">
               <ul class="list-unstyled components">
                   <li class="active">
                       <!-- Enter Code Here  href-->
                       <a href="addEmployee">
                          <img class="navIcons" src="../images/add_employee.png"> &nbsp;
                             Add Employee
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="updateEmployee">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/delete_employee.png"> &nbsp;
                          Update Employee
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="deleteEmployee">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/update_employee.png"> &nbsp;
                          Delete Employee
                         </a>
                     </li>
                     <!-- adding more elements -->
                     <li><!-- Enter Code Here  href-->
                      <a href="trainerManagement">
                          <!-- <span class="glyphicon">&#x270f;</span> -->
                          <img class="navIcons" src="../images/trainer_account.png">&nbsp;
                          Trainer Management
                         </a>
                     </li>
                     <li><!-- Enter Code Here  href-->
                      <a href="courseManagement">
                      <!-- <span class="glyphicon">&#x270f;</span> -->
                      <img class="navIcons" src="../images/course_management.png">&nbsp;
                                         Course Management
                   </a>
                </li>
           </nav>

            <!-- ENTER CODE HERE in this div -->
           <div></div>
       <div class="container">
    <div class="jumbotron">

    <!-- Course Addition Form -->
    <h3 class="delete-employee-h3">Employee Deletion</h3>
    <form>

      <!-- Employee Name Input -->
      <div class="form-group row employee-delete-input-div">
        <label for="employeeName" class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="employeeName" required>
        </div>
      </div>

      <!-- Designation Input -->
      <div class="form-group row employee-delete-input-div">
        <label for="Designation" class="col-sm-2 col-form-label">Designation</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Designation" required>
        </div>
      </div>

      <!-- Department Input -->
      <div class="form-group row employee-delete-input-div">
        <label for="course3" class="col-sm-2 col-form-label">Designation</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Designation" required>
        </div>
      </div>

      <!--Get ID Button  -->
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-lg GetId-button">GET ID</button>
        </div>
      </div>

    </form>

    <!-- EIdForm -->
    <h3 class="EId-delete-h3">Employee ID</h3>
    <form class="form-inline">

      <!-- Employee ID Input -->
      <div class="form-group EId-delete-input-div">
        <label for="EmployeeId" class="EId-delete-label1">Employee ID</label>
        <input type="text" id="EmployeeId" class="form-control mx-sm-3" required>
      </div>



      <!-- Course Delete Button -->
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary btn-lg deleteEId-button">Delete</button>
        </div>
      </div>

    </form>
  </div>

</div>
           <!-- Page Content Holder -->
           
    
    </body>
    </html>